


/* register page*/
.Register {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.registerImgBackground{
  color:rgb(144, 170, 225);
  background-image: url("https://images.unsplash.com/photo-1517245386807-9b4d0dd9c9e2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXR5JTIwY2FyZCUyMGFjdGl2aXR5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80") !important;
}
